$round-theme-sizes: ();
$round-theme-sizes: map-merge(
  (
    'small': 'small',
    'default': 'default',
    'large': 'large',
  ),
  $round-theme-sizes
);

$round-colors: ();
$round-colors: map-merge(
  (
    'teal': (
      background: $teal6,
      color: white,
      hoverBackground: $teal5,
    ),
    'lightGray': (
      background: $gray2,
      color: $gray7,
      hoverBackground: $gray1,
    ),
    'gray': (
      background: $gray6,
      color: white,
      hoverBackground: $gray5,
    ),
    'darkGray': (
      background: $gray8,
      color: white,
      hoverBackground: $gray6,
    ),
    'transparent': (
      background: none,
      color: $teal6,
      hoverBackground: $teal1,
    ),
    'red': (
      background: $red5,
      color: white,
      hoverBackground: $red4,
    ),
  ),
  $round-colors
);

.round-btn {
  background: none;
  border: none;
  outline: none;
  font-weight: bold;
  word-break: keep-all;
  transition: 0.125s all ease-in;
  cursor: pointer;

  &:focus {
    box-shadow: 0px 2px 12px #00000030;
  }

  &:hover {
  }
}

.round-btn-inline {
  & + & {
    margin-left: 1rem;
  }
}

@mixin round-size-variant($size) {
  @if $size == map-get($round-theme-sizes, 'default') {
    height: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
    border-radius: 1rem;
  } @else if $size == map-get($round-theme-sizes, 'small') {
    height: 1.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    font-size: 0.875rem;
    border-radius: 0.75rem;
  } @else if $size == map-get($round-theme-sizes, 'large') {
    height: 3rem;
    font-size: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 1.5rem;
  }
}

@mixin round-color-variant($colors) {
  $background: map-get($colors, 'background');
  $color: map-get($colors, 'color');
  $hoverBackground: map-get($colors, 'hoverBackground');

  background: $background;
  color: $color;
  &:hover {
    background: $hoverBackground;
  }
}

@mixin round-border-color-variant($colors) {
  $background: map-get($colors, 'background');

  background: white;
  border: 1px solid $background;
  color: $background;
  &:hover {
    background: $background;
    color: white;
  }
}

@each $size, $value in $round-theme-sizes {
  .round-size-#{$size} {
    @include round-size-variant($value);
  }
}

@each $color, $value in $round-colors {
  .round-bcolor-#{$color} {
    @include round-border-color-variant($value);
  }

  .round-color-#{$color} {
    @include round-color-variant($value);
  }
}
