.toolbar {
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
  background: white;
  z-index: 10;
  transition: all 0.125s ease-in;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  width: auto;

  & > .separator {
    width: 1px;
    height: 1.25rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    background: $gray4;
  }

  & > .toolbarItem {
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.75rem;
    color: $gray6;
    cursor: pointer;
    flex-shrink: 0;
    background: none;
    outline: none;
    border: none;
    padding: 0;

    & > .icon {
      width: 30px;
      height: 30px;
      color: $gray6;
    }

    &.ql-active {
      color: $teal6;
    }

    &:hover {
      color: $gray9;
      background: $gray0;
    }

    .heading {
      font-size: 1rem;
      font-weight: bold;
      font-family: serif;
      span {
        font-size: 0.75rem;
      }
    }
  }
}

.toolbar .shadow {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.09);
  margin-bottom: 0;
}
