# vscode
.vscode

# npm 
node_modules

# nextjs
out
.next
next.config.js
public

# truffle
truffle-config.js

# serverless
.serverless/
.serverless-next/

# scripts
scripts/

legacy_pages/

# tailwind
tailwind.config.js