{
  "trailingComma": "es5",
  "semi": true,
  "singleQuote": true,
  "printWidth": 120,
  "svelteSortOrder": "styles-scripts-markup",
  "svelteStrictMode": true,
  "svelteBracketNewLine": true,
  "svelteAllowShorthand": false
}
