$teal0: #f3fffb;
$teal1: #c3fae8;
$teal2: #96f2d7;
$teal3: #63e6be;
$teal4: #38d9a9;
$teal5: #20c997;
$teal6: #12b886;
$teal7: #0ca678;
$teal8: #099268;
$teal9: #087f5b;
/* gray */
$gray0: #f8f9fa;
$gray1: #f1f3f5;
$gray2: #e9ecef;
$gray3: #dee2e6;
$gray4: #ced4da;
$gray5: #adb5bd;
$gray6: #868e96;
$gray7: #495057;
$gray8: #343a40;
$gray9: #212529;
/* red */
$red0: #fff5f5;
$red1: #ffe3e3;
$red2: #ffc9c9;
$red3: #ffa8a8;
$red4: #ff8787;
$red5: #ff6b6b;
$red6: #fa5252;
$red7: #f03e3e;
$red8: #e03131;
$red9: #c92a2a;
// z-index
$opaque-layer: 10;
$auth-modal: 20;
$toolbar: 10;
$popup: 25;
$write-footer: 10;
$publish-screen: 15;
$drag-Drop-upload: 100;
// responsive
$xxlarge: 1920px;
$xlarge: 1440px;
$large: 1200px;
$medium: 1024px;
$small: 768px;
$min: 375px;
