.form-sub,
a.form-sub {
  color: #fff;
}

.form-sub,
.form-btn,
.form-forest,
.form-gradient,
a.form-sub,
a.form-btn,
a.form-forest,
a.form-gradient {
  display: inline-block;
  padding: 10px 16px;
  cursor: pointer;
  border: none;
  text-decoration: none;
  background: var(--indigo-6);
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  border-radius: 8px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  outline: none;
  font-family: 'Haas Grot Text R Web', 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  height: 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}
